body {
    margin: 5px;
    display: flex;
}

#app, #controller {
    padding: 10px;
}

#app table, #app tr, #app td {
    border: 1px solid black;
}

#app td {
    width: 25px;
    height: 25px;
}

#controller td {
    padding: 10px;
}

.game-field-cell {
    background-color: beige;
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.75);
    font-weight: bold;
    color: black;
    text-align: center;
    cursor: pointer;
}

.bomb-cell {
    font-weight: bold;
    color: red;
    text-align: center;
}

.num-cell {
    font-weight: bold;
    color: blue;
    text-align: center;
}

.win-msg {
    font-weight: bold;
    color: green;
}

.lost-msg, .error-msg {
    font-weight: bold;
    color: red;
}